@import "tailwindcss" theme(static);
@import './fonts.css';
@import "./blocks/_header.css";
@import "./blocks/_buttons.css";
@import "./blocks/_hero-block.css";
@import "./blocks/_color-grid-block.css";
@import "./blocks/_faq.css";
@import "./blocks/_contact-us-block.css";
@import "./blocks/_form-block.css";
@import "./blocks/_modal.css";
@import "./blocks/_counter-block.css";
@source "../views/";
@source "../../app/";

@theme {
  --font-sans: "Bariol", sans-serif;
  --font-bold: "Bariol Bold", sans-serif;

  --color-slate-700: #3a4969;
  --color-blue-50: rgba(58, 73, 105, 0.2);
  --color-blue-600: #315fc3;
  --color-pink-600: #E2287B;
  --color-black-400: rgba(5, 7, 31, 0.4);
  --color-black-800: #434343;
  --color-gray-200: #F3F3F3;

  --text-xs: 11px;
  --text-sm: 12px;
  --text-small: 13px;
  --text-base: 14px;
  --text-md: 16px;
  --text-medium: 18px;

  --rounded-2xl: 20px;

}

body {
  font-family: var(--font-sans);
  color: var(--color-slate-700);
}

.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (width >= 96rem) {
    max-width: 1055px;
  }

  &.container-lg {
    @media (width >= 96rem) {
      max-width: 85rem;
    }
  }
}

a {
  @apply transition;

  &:hover {
    color: var(--color-pink-600);
  }
}

h1,h2,h3,h4, .accent {
  strong, b {
    color: var(--color-pink-600);
  }
}

strong {
  font-family: var(--font-bold);
}

h1, .h1 {
  @apply text-4xl lg:text-5xl xl:text-[64px] font-bold;
  line-height: 1.1;
}

h3, .h3 {
  @apply text-[32px] lg:text-[46px] font-bold;
  line-height: 1.3;
}

.text-block {
  h1, h2, h3, h4, h5, h6 {
    @apply mb-2 lg:mb-4;
  }

  p {
    @apply mb-2;

    &:last-child {
      @apply mb-0;
    }

    svg {
      @apply inline-block;
    }
  }

  ul {
    margin-top: 30px;
    margin-left: 30px;
    list-style-type: disc;

    li {
      margin-bottom: 10px;
    }
  }
}

.no-underline {
  a {
    text-decoration: none;
  }
}

.bg-covered {
  @apply relative;
  &:after {
    @apply absolute left-0 top-0 w-full h-full bg-black-400;
    content: '';
  }
}

.custom-underline {
  @apply inline-block relative no-underline w-auto leading-relaxed;

  &::before {
    @apply absolute left-0 bottom-0 h-0 w-full border-b;
    content: '';
  }
}

.br-desktop {
  @media (width < 48rem) {
    br {
      display: none;
    }
  }
}

.pstyle-21 {
  p {
    font-size: 21px;

    @media (width < 48rem) {
      font-size: var(--text-md);
    }
  }
}

.grid-text {
  p {
    @apply text-md lg:text-[19px];
  }

  ul {
    @apply text-md lg:text-medium;
  }
}

.fixed-btn {
  transform: translateY(100px);

  &.active {
    transform: translateY(0);
  }
}
