.wp-block-form-wrapper-block {
  .fluentform {
    @apply max-w-[480px] rounded-2xl lg:rounded-4xl m-auto;
  }

  & + .wp-block-privileges-block {
    @apply lg:py-6;
  }
}

.fluentform {
  @apply bg-white pt-6 pb-2 px-4 lg:p-8 lg:pb-4;

  .ff_submit_btn_wrapper {
    &:after {
      background: rgba(255, 255, 255, 0);
    }
  }

  .ff-step-header {
    @apply mb-14;

    .ff-el-progress-status {
      @apply hidden;
    }
  }

  .ff-el-group {
    @apply outline-0;
  }

  .ff-el-progress {
    @apply rounded-3xl relative overflow-visible h-2;
  }

  .ff-el-progress-bar {
    @apply bg-pink-600 rounded-3xl;

    span {
      @apply absolute font-bold text-pink-600 top-5 left-0 text-center w-full text-md;

      &:after {
        content: " complete";
      }
    }
  }

  .ff-step-body {
    h2 {
      @apply text-[25px] lg:text-[32px] font-bold mb-2 leading-tight outline-0;
    }

    p {
      @apply text-md lg:text-medium;
    }
  }

  .ff_input-group-text {
    background-color: #DEDEDE;
  }

  &.ff-default {
    .ff-el-form-control {
      border-color: #DEDEDE;
    }

    .ff-btn-next:not(.ff_btn_no_style), .ff-btn-submit:not(.ff_btn_no_style) {
      @apply bg-pink-600 border-pink-600 text-white;
      &:after {
        content: url('data:image/svg+xml,<svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.49998 10L24.5 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9231 14.577L24.5 10L19.9231 5.4231" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        position: relative;
        top: 5px;
        margin-left: 3px;

        @media (width < 48rem) {
          margin-right: 1px;
        }
      }
    }

    .ff-btn-prev:not(.ff_btn_no_style) {
      @apply bg-white border border-pink-600 text-pink-600;
      &:before {
        content: url('data:image/svg+xml,<svg width="31" height="20" viewBox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 10L7 10" stroke="%23E2287B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.5769 5.42305L7 9.99998L11.5769 14.5769" stroke="%23E2287B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        position: relative;
        top: 5px;
        margin-right: 3px;

        @media (width < 48rem) {
          margin-right: 1px;
        }
      }
    }
  }

  .ff-btn {
    @apply rounded-full pr-4 pt-2  pl-6 pb-3 relative font-bold text-md lg:min-w-[140px] text-center cursor-pointer;

    @media (width < 48rem) {
      @apply px-3;
    }
  }

  .ff_step_nav_last {
    @apply mt-6 lg:mt-8;
  }

  .text-danger {
    @apply text-pink-600;
  }

  .ff-el-form-check {
    @apply rounded-lg border  min-h-[50px] text-center mb-3;
    border-color: #DEDEDE;

    input[type="radio"], input[type="checkbox"] {
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
    }

    &.ff_item_selected {
      background-color: #DEDEDE;
    }

    .ff-el-form-check-label {
      @apply p-2 block h-full w-full;

    }

    label {
      & > span {
        border: 0 !important;
        padding: 0 !important;
      }
    }
  }

  .frm-fluent-form {
    .ff-t-container {
      @media (min-width: 768px) {
        display: block;
      }

      .ff-el-input--content {
        input::placeholder {
          color: transparent;
        }
      }
    }
  }

  .ff-el-group.ff_list_buttons .ff-el-form-check {
    width: 100% !important;
    border-color: #DEDEDE;

    label>span {
      color: #3A4969;

      &:hover {
        color: #3A4969;
      }
    }

    &.ff_item_selected label>span {
      @apply  bg-transparent border-0;
      color: #3A4969;
      box-shadow: none;
    }
  }

  .ff_step_nav_last {
    @apply mt-0;
  }
}

.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check label>span {
  @media only screen and (max-width: 768px) {
    border: 0 !important;
  }
}

.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check {
    display: flex !important;
    align-items: center;
}

.ff-el-input--content {
  .ff_input-group {
    flex-wrap: nowrap !important;

    .ff-el-form-control {
      width: calc(100% - 33px) !important;
    }
  }
}

.ff-default .ff-el-form-check {
  display: flex;
  align-items: center;
  label.ff-el-form-check-label {
    margin-bottom: 0px !important;
  }
}

